.photo-grid__card {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 282px;
    height: 361px;
    background-color: #fff;
    color: #000;
    border-radius: 10px;
    border-color: #000;
    overflow: hidden;
    margin: 0 auto;
}