.edit-avatar-popup__container {
    width: 430px;
    height: 272px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    position: relative;
}

@media screen and (max-width: 540px) {
    .edit-avatar-popup__container {
        width: 282px;
    }
}